<!-- create model -->
<div class="modal fade" id="modal-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name"
                               name="name">
                    </div>

                    <div class="form-group">
                        <label for="name">Rating</label>
                        <input type="number" class="form-control" placeholder="eg 1 10" name="rating" min="1" max="10">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Image URL</label>
                        <input name="url" type="text" class="form-control" id="exampleInputPassword1"
                               placeholder="Image URL">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Notes</label>
                        <textarea name="notes" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
